.displayInvoices table, 
.displayUsers table, 
.displaySessions table,
.displayAttendanceRecords table,
.displayAttendeeRecords table {
    border-collapse: collapse;
    width: 100%;
}

.displayUsers th, td, 
.displaySessions th, td,
.displayAttendanceRecords th, td,
.displayAttendeeRecords th, td {
    padding: 8px;
    text-align: left;
}

.displayUsers tr:hover, 
.displaySessions tr:hover,
.displayAttendanceRecords tr:hover,
.displayAttendeeRecords tr:hover {
    background-color:#ffffcc;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #223fe5;
    color: white;
    text-align: center;
}

.footer button {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
  line-height: 25px;
  border-radius: 4px;
}

.footer button:hover {
  background-color: #3675db;
  color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #223fe5;
}

.header button {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial;
  line-height: 25px;
  border-radius: 4px;
}

.header button.logo {
  font-size: 25px;
  font-weight: bold;
}

.header button:hover {
  background-color: #3675db;
  color: black;
}

.header button.active {
  background-color: dodgerblue;
  color: white;
}

.loginForm {
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px;
    background: black;
    color: white;
    padding: 2px;
    vertical-align: central;
    font-family: sans-serif;
}

.loginForm h1 {
    padding-left: 5px;
    margin: 0px;
}

.loginForm h3 {
    padding-left: 5px;
}

.loginForm a {
    color: white;
    padding-left: 5px;
}

.loginForm.loginLogo {
    overflow: hidden;
    margin: auto;
    width: 50%;
    float: right;
}

.loginForm.loginLogo img {
    width: 100%;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}